
@media (max-width: 1650px) {
  .section-info .info__bg {
    left: -100px;
  }
  .section-equipment .equipment-bg {
    position: absolute;
    top: -30%;
    right: -200px;
  }
}
@media (max-width: 1450px) {
  .section-info .info__bg {
    left: -205px;
    bottom: -1%;
  }
  .section-equipment .equipment-bg {
    position: absolute;
    top: -30%;
    right: -200px;
  }
}
@media (max-width: 1300px) {
  .section-info .info__bg {
    left: -255px;
  }
  .section-equipment .equipment-bg {
    position: absolute;
    top: -30%;
    right: -200px;
  }
  .header .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 500;
    margin: 0 5px;
    font-size: 13px;
}
  
}
@media (max-width: 1255px){
  .section-equipment .equipment-content .equipment__title span {
    width: 132px;
    left: -93px;
    top: 67px;
}

  .section-info .info__bg {
    bottom: 2%;
}
  
  .header .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 500;
    margin: 8px 0px;
    font-size: 8px;
}
.header__content .header__content-img img {
  display: none;
}
.section-info .sub__info .sub__info-text .list-info {
  min-height: 340px;
  margin-bottom: 45px;
}
.section-info .sub__info .sub__info-text .sub__info-btn a {
  font-size: 15px;
}
.section-foundation .foundation__img {
  margin-left: 30px;
}
.section-foundation .foundation__img .foundation__img-txt {
  width: 400px;
  margin-left: 41px;

}
.section-we-sell .slider .slide .carousel-control-next, .section-we-sell .slider .slide .carousel-control-prev {
  display: none;
}
.section-we-sell .slider .slide .carousel-item .card {
  min-width: 300px;
}
.section-equipment .equipment-bg {
  display: none;
}
.section-equipment .equipment-content .equipment-content-img img {
 margin-right: 50px;
}
.section-equipment .equipment-content .equipment__title {
  margin-top: 15px;
  position: relative;
   margin-left: 0; 
}
.section-calculator .calculator__btn .calculator__btn-content {
  display: flex;
}
.section-calculator .calculator__radio-content .calculator__radio {
  justify-content: space-around;
}
.section-order {
  padding: 50px 0 150px 0;
  background: #e6eaf3;
}
.section-order .order__img{
  margin-top: 65px;
}
.section-car .car__box img {
  margin-right: 15px;
}
.section-car .car__slider .carousel-control-next, .section-car .car__slider .carousel-control-prev {
  display: none;
}
.section-car .car__slider .carousel .carousel-inner .carousel-item .item-text {
  padding: 10px;
 
}

}
@media (max-width: 1024px){
  .section-self_service .self_service-text .self_service-btn {
    width: 640px;
}
  .section-we-sell .slider .slide .carousel-item .card .card-body .card-text-sub {
    justify-content: end;
}
.section-foundation .foundation__btn {
  margin-top: 30px;
  
}
  .section-equipment .equipment-content .equipment__title span {
    width: 200px;
    left: -130px;
    top: 101px;
}
  .section-foundation .foundation__img .foundation__img-txt br {
    display: none;
}
/* .section-foundation .foundation__img .foundation__img-txt br {
  display: none;
} */
  .section-foundation .foundation__img .foundation__img-txt {
    width: 300px;
    margin-left: 41px;
    margin-top: 50px;
}
  .section-equipment .equipment-content .equipment-content-img {
    margin-left: -20px;
    margin-right: 20px;
}
  .section-info .sub__info .sub__info-title img {
    width: 62px;
    height: 62px;
}
  .section-info .sub__info .sub__info-title h2 {
    font-size: 16px;
}
  .section-foundation .foundation__img .svgschema {
    margin-right: -56px;
    margin-left: 36px;
}
.section-foundation .foundation__img .svgschema-tooltips {
    margin-right: -56px;
    margin-left: 36px;
}
.section-info .info__bg {
  left: -262px;
  bottom: -1%;
}
.section-info .sub__info .sub__info-text ol li span {
  min-width: 30px;
  min-height: 30px;
}
.section-specialist .specialist-box {
  padding: 80px 35px;
  
}
.section-specialist .specialist-box .specialist__img img {
  right: 8px;
}
}
@media (max-width: 988px) {
  .header form {
    position: absolute;
    bottom: 50px;
  }
  .header form {
    width: 100%;
    left: 0;
    padding: 0 40px;
}
.header .navbar-light .navbar-nav .nav-link {
  margin: 4px 0;
}
  .section-foundation .foundation__img .svgschema {
    margin-right: 0;
    margin-left: 0;
}
.section-foundation .foundation__img .svgschema-tooltips {
  margin-right: 0;
  margin-left: 0;
}
  .modal-content {
    padding: 20px;
    width: auto;
    margin: 0 20px;
  }
  .modal .modal-dialog {
    padding: 0;
  }
  .modal .modal-dialog .modal-content .modal-header .modal-title br {
    display: none;
  }
  .modal .modal-dialog .modal-content .modal-header .modal-title {
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    text-align: left;
  }
  .header .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    color: black;
    margin: 16px 0;
  }
  
  .header form {
      margin-top: 150px;
    flex-direction: column;
    align-items: baseline;
   
  }
  .header form a {
      font-weight: normal;
      font-size: 18px;
      color: #000;
      margin-bottom: 24px;
  }
  .header .navbar-light .navbar-toggler {
    border: none;
    position: absolute;
    right: 15px;
    top: 18.22px;
  }
  .header form button {
    width: 100%;
    font-size: 14px;
}
  .navbar-collapse {
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    color: #000;
    left: 0;
    z-index: 10;
    height: 100vh;
    padding: 40px;
  }
  .section-we-sell .slider-mobile .slide .carousel-item .card {
    min-width: 0;
    border: none;
  }
  .header {
    padding: 15px 0 00;
    background-image: url(../img/bg-hed-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
  }
  .navbar-light .navbar-brand {
    width: 200px;
  }
  .header__content .heaedr__title {
    width: 100%;
    margin-top: 25px;
  }
  .header__content .heaedr__title h1 {
    font-size: 28px;
  }
  .header__content .heaedr__title h1 br {
    display: none;
  }
  .header__content .heaedr__title p {
    font-size: 20px;
  }
  .header__content .heaedr__title .header__btn {
    flex-direction: column;
  }
  .header__content .heaedr__title .header__btn button {
    margin-right: 0;
    width: 100%;
    margin-bottom: 32px;
  }
  .header__content .header__content-img {
    display: none;
  }
  .header__sub {
    color: black;
    background: #fff;
    margin-top: 65px;
  }
  .header__sub .header__sub-box {
    margin-top: 14px;
    margin-bottom: 0;
  }
  .section-info .info__text p {
    font-size: 16px;
    color: #000000;
  }
  .section-info .info__text p br {
    display: none;
  }
  .section-info .sub__info .sub__info-title {
    padding: 0 22px;
    justify-content: space-around;
  }
  .section-info .sub__info .sub__info-text .list-info {
    min-height: auto;
}
  .section-info .sub__info .sub__info-text {
    padding: 0 22px;
  }
  .vertical-line:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #d8d8d8;
    margin: 50px auto;
    opacity: 0.5;
  }
  .section-info .info__bg {
    display: none;
  }
  .section-info .sub__info .sub__info-text .sub__info-btn:nth-child(3) {
    margin-top: -50px;
  }
  .section-foundation .foundation__title {
    margin-top: 0;
    width: 100%;
  }
  .section-foundation .foundation__title h2 {
    font-size: 28px;
    margin-left: 17px;
  }
  .section-foundation .foundation__title h2 br {
    display: none;
  }
  .section-foundation .foundation__title p {
    margin-top: 22px;
    margin-left: 17px;
  }
  .section-foundation .foundation__title span {
    left: -56px;
    top: 38px;
    width: 99px;
  }
  .section-foundation .foundation__title .foundation__content {
    margin-top: 40px;
  }
  .section-foundation
    .foundation__title
    .foundation__content
    .foundation__content-list {
    margin-top: 48px;
    min-width: 100%;
  }
  /* .section-foundation .foundation__img .svgschema-tooltip {
    display: none;
  } */
  .section-foundation .foundation__img .svgschema-tooltip-mob-box {
    display: flex;
    justify-content: center;
  }
  .section-foundation .foundation__img .foundation__img-txt {
    margin-top: 56px;
    margin-left: 31px;
  }
  .section-foundation .foundation__img .foundation__img-txt p {
    font-size: 16px;
  }
  .section-foundation .foundation__btn {
    flex-direction: column;
  }
  .section-foundation .foundation__btn .btn-secondary {
    font-size: 15px;
    width: 100%;
    margin-bottom: 32px;
  }
  .section-foundation .foundation__btn a br {
    display: none;
  }
  .section-foundation .foundation__btn a {
    font-size: 14px;
    margin: 0;
  }
  .section-self_service .self_service-text {
    margin-top: 0;
  }
  .section-self_service .self_service-text ul {
    padding: 0 16px;
  }
  .section-self_service .self_service-text ul li br {
    display: none;
  }
  .section-self_service .self_service-title {
    margin-top: 69px;
    margin-left: 16px;
    width: 100%;
  }
  .section-self_service .self_service-title h2 {
    font-size: 20px;
  }
  .section-self_service .self_service-title p {
    width: 260px;
    font-size: 16px;
  }
  .section-self_service .self_service-text .self_service-btn {
    flex-direction: column;
  }
  .section-self_service .self_service-text .self_service-btn .btn-secondary {
    width: 100%;
    font-size: 15px;
    margin-bottom: 32px;
  }
  .section-self_service .self_service-text .self_service-btn .hov {
    font-size: 14px;
  }
  .section-we-sell .we-sell__title .Rectangle {
    left: -142px;
    width: 243px;
    top: 118px;
  }
  .section-we-sell .we-sell__title {
    margin-left: 14px;
  }
  .section-we-sell .we-sell__title h2 br {
    display: none;
  }
  .section-we-sell .we-sell__title h2 {
    font-size: 20px;
  }
  .section-we-sell .we-sell__title p {
    font-size: 16px;
  }
  .section-we-sell .we-sell__title span {
    font-size: 14px;
  }
  .section-we-sell .slider {
    display: none;
  }
  .section-we-sell .slider-mobile {
    display: flex;
  }
  .section-we-sell .slider-mobile .slide .carousel-indicators button {
    margin: 0 10px;
  }
  .section-we-sell .slider-mobile .slide .carousel-control-next,
  .section-we-sell .slider-mobile .slide .carousel-control-prev {
    top: 568px;
  }
  .section-we-sell .slider-mobile .slide .carousel-control-prev {
    right: 0;
    left: -5px;
  }
  .section-we-sell .slider-mobile .slide .carousel-control-next {
    right: -5px;
  }
  .section-equipment .equipment-bg {
    display: none;
  }
  .section-equipment {
    background: #e6eaf3;
  }
  .section-equipment {
    padding: 0;
  }
  .section-equipment .equipment-content {
    padding: 40px 10px;
  }
  .section-equipment .equipment-content .equipment__title span {
    left: -95px;
    width: 135px;
    top: 66px;
  }
  .section-equipment .equipment-content .equipment__title {
    margin-left: 0;
  }
  .section-equipment .equipment-content .equipment__title h2 {
    margin-left: -0;
  }
  .section-equipment .equipment-content .equipment-content-img {
    margin-top: 39px;
    display: flex;
    justify-content: center;
  }
  .section-calculator .calculator__btn .calculator__btn-content {
    display: flex;
    justify-content: center;
  }
  .section-calculator
    .calculator__btn
    .calculator__btn-content
    .form_radio_btn
    label {
    font-size: 12px;
    min-width: 130px;
    height: 54px;
  }
  .section-calculator .calculator__title h2 {
    font-size: 20px;
    text-align: center;
  }
  .section-calculator .calculator__title {
    margin-bottom: 40px;
  }
  .section-calculator .calculator__soum .calculator__soum-title p {
    font-size: 32px;
  }
  .section-calculator .calculator__soum-content .soum-content-box span {
    font-size: 12px;
  }
  .section-calculator .calculator__soum-content .soum-content-box p {
    font-size: 18px;
  }
  .section-calculator .calculator__soum-btn .btn-secondary {
    width: 100%;
  }
  .section-order .order__title {
    margin-top: 0;
    margin-bottom: 70px;
  }
  .section-order .order__title h2 {
    font-size: 20px;
  }
  .section-order .order__content {
    margin-top: -20px;
    max-height: 600px;
  }
  .section-car {
    padding: 0;
  }
  .section-car .car__title span {
    width: 60px;
    left: -46px;
    top: 22px;
  }
  .section-car .car__title {
    margin: 80px 0;
    margin-left: 10px;
    position: relative;
  }
  .section-car .car__title h2 {
    font-size: 20px;
  }
  .section-car .car__title p {
    font-size: 16px;
  }
  .section-car .car__box {
    margin: 15px 0;
  }
  .section-car .car__box p {
    font-size: 14px;
  }
  .section-car .car__slider {
    display: none;
  }
  .section-car .car__slider-mobile {
    display: block;
  }
  .section-car .car__slider-mobile .carousel-control-next,
  .section-car .car__slider-mobile .carousel-control-prev {
    top: 390px;
  }
  .section-car .car__slider-mobile .carousel-control-prev {
    left: 0;
  }
  .section-specialist {
    padding: 0;
    background: rgb(230, 234, 243);
  }
  .section-specialist .specialist-box {
    height: 1000px;
    padding: 80px 20px;
    margin-bottom: 0;
  }
  .section-specialist
    .specialist-box
    .specialist__form
    .specialist__form-input-box {
    flex-direction: column;
  }
  .section-specialist .specialist-box .specialist__form .specialist__form-btn {
    flex-direction: column;
  }
  .section-specialist .specialist-box .specialist__title {
    margin-bottom: 24px;
  }
  .section-specialist
    .specialist-box
    .specialist__form
    .specialist__form-input-box
    input {
    margin: 0 0 19px 0;
    width: 100%;
    height: 50px;
    border: none;
    padding: 14px 24px;
  }
  .specialist__form-textarea {
    display: flex;
    justify-content: center;
  }
  .section-specialist
    .specialist-box
    .specialist__form
    .specialist__form-textarea
    .form-control {
    border: none;
    width: 100%;
    height: 100px;
    padding: 14px 24px;
    resize: none;
  }
  .section-specialist
    .specialist-box
    .specialist__form
    .specialist__form-btn
    .btn-primary {
    width: 100%;
    margin-bottom: 10px;
  }
  .section-specialist
    .specialist-box
    .specialist__form
    .specialist__form-btn
    span {
    font-size: 12px;
    max-width: 100%;
  }
  .section-specialist .specialist-box .specialist__img img {
    right: 5%;
  }
  .section-specialist .specialist-box .specialist__img .specialist__img-text {
    right: 25%;
  }
  .section-footer .footer-box .footer-btn {
    display: none;
  }
  .section-footer .footer-box .footer-logo .footer-logo-sub {
    flex-direction: column;
  }
  .section-footer .footer-sub .footer-sub-box {
    flex-direction: column;
  }
  .section-footer .footer-sub .footer-sub-box p {
    margin-top: 26px;
  }
  .section-footer {
    padding: 43px 0 35px 0;
  }
}
@media (max-width: 768px) {

  
  
  .section-calculator .calculator__soum-content-box {
    min-height: initial;
}
  .section-foundation .foundation__img .svgschema-tooltip:last-child {
    margin-bottom: 0;
}
  .section-foundation .foundation__img .foundation__img-txt p b {
    display: block;
}
  .section-we-sell .slider-mobile .slide .carousel-item .card .card-body .card-text  br {
    display: none;
    
}
  .section-foundation .foundation__img .svgschema-tooltip {
    max-width: 100%;
}
  /* .section-calculator .calculator__content {
    text-align: center;
  } */
  .section-calculator .calculator__btn .calculator__btn-content .form_radio_btn label {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .section-calculator .calculator__radio-content .calculator__radio {
  justify-content: center;
} */
  .section-we-sell .slider-mobile .carousel{
    width: 100%;
  }
  .section-car .car__slider-mobile .carousel .carousel-inner .carousel-item .item-text {
    max-width: 130px;
}
  .section-car .car__box {
     width: auto; 
    
}
  .section-foundation .foundation__img .svgschema {
    margin-right: 0;
    margin-left: 0;
}
.section-foundation .foundation__img .svgschema-tooltips {
  margin-right: 0;
  margin-left: 0;
}
  
  .modal-content {
    padding: 20px;
    width: auto;
    margin: 0 20px;
  }
  .modal .modal-dialog {
    padding: 0;
  }
  .modal .modal-dialog .modal-content .modal-header .modal-title br {
    display: none;
  }
  .modal .modal-dialog .modal-content .modal-header .modal-title {
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    text-align: left;
  }
  .header .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    color: black;
    margin: 16px 0;
  }
  
  .header form {
      margin-top: 150px;
    flex-direction: column;
    align-items: baseline;
   
  }
  .header form a {
      font-weight: normal;
      font-size: 18px;
      color: #000;
      margin-bottom: 24px;
  }
  .header .navbar-light .navbar-toggler {
    border: none;
    position: absolute;
    right: 15px;
    top: 18.22px;
  }
  .header form button {
    width: 100%;
    font-size: 14px;
}
  .navbar-collapse {
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    color: #000;
    left: 0;
    z-index: 10;
    height: 100vh;
    padding: 40px;
  }
  .section-we-sell .slider-mobile .slide .carousel-item .card {
    min-width: 0;
    border: none;
  }
  .header {
    padding: 15px 0 00;
    background-image: url(../img/bg-hed-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
  }
  .navbar-light .navbar-brand {
    width: 200px;
  }
  .header__content .heaedr__title {
    width: 100%;
    margin-top: 25px;
  }
  .header__content .heaedr__title h1 {
    font-size: 28px;
  }
  .header__content .heaedr__title h1 br {
    display: none;
  }
  .header__content .heaedr__title p {
    font-size: 20px;
  }
  .header__content .heaedr__title .header__btn {
    flex-direction: column;
  }
  .header__content .heaedr__title .header__btn button {
    margin-right: 0;
    width: 100%;
    margin-bottom: 32px;
  }
  .header__content .header__content-img {
    display: none;
  }
  .header__sub {
    color: black;
    background: #fff;
    margin-top: 65px;
  }
  .header__sub .header__sub-box {
    margin-top: 14px;
    margin-bottom: 0;
  }
  
  .section-info .info__text p {
    font-size: 16px;
    color: #000000;
  }
  .section-info .info__text p br {
    display: none;
  }
  .section-info .sub__info .sub__info-text .list-info {
    min-height: auto;
}
  .section-info .sub__info .sub__info-title {
    padding: 0 22px;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .section-info .sub__info .sub__info-text .mt {
    margin-top: -90px;
}
  .section-info .sub__info .sub__info-text {
    padding: 0 22px;
  }
  .vertical-line:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #d8d8d8;
    margin: 50px auto;
    opacity: 0.5;
  }
  .section-info .info__bg {
    display: none;
  }
  .section-info .sub__info .sub__info-text .sub__info-btn:nth-child(3) {
    margin-top: -50px;
  }
  .section-foundation .foundation__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .section-foundation .foundation__title {
    margin-top: 0;
    width: 100%;
  }
  .section-foundation .foundation__title h2 {
    font-size: 23px;
    margin-left: 17px;
  }
  .section-foundation .foundation__title h2 br {
    display: none;
  }
  .section-foundation .foundation__title p {
    margin-top: 22px;
    margin-left: 17px;
  }
  .section-foundation .foundation__title span {
    left: -54px;
    top: 31px;
    width: 85px;
  }
  .section-foundation .foundation__title .foundation__content {
    margin-top: 40px;
  }
  .section-foundation
    .foundation__title
    .foundation__content
    .foundation__content-list {
    margin-top: 48px;
    min-width: 100%;
  }
  
  .section-foundation .foundation__img .svgschema-tooltip-mob-box {
    display: flex;
    justify-content: center;
  }
  /* .section-foundation .foundation__img .foundation__img-txt br {
    display: none;
  } */
  .section-foundation .foundation__img .foundation__img-txt {
    width: 100%;
    margin-top: 56px;
    margin-left: 60px;
  }
  .section-foundation .foundation__img {
     margin-left: 0; 
}

.section-foundation .foundation__img .svgschema-tooltips {
  width: 100%;
  justify-content: center;
}
.section-foundation .foundation__img .svgschema-tooltip P {
  margin: 0;
  max-width: 100%;
  font-size: 16px;
}
  .section-foundation .foundation__img .foundation__img-txt p {
    font-size: 16px;
  }
  .section-foundation .foundation__btn {
    flex-direction: column;
  }
  .section-foundation .foundation__btn .btn-secondary {
    font-size: 15px;
    width: 100%;
    margin-bottom: 32px;
  }
  .section-foundation .foundation__btn a br {
    display: none;
  }
  .section-foundation .foundation__btn a {
    font-size: 14px;
    margin: 0;
  }
  
.section-self_service .self_service-img {
  margin-top: 60px;
  margin: 60px 0 0 95px;
}
  .section-self_service .self_service-text {
    margin-top: 0;
  }
  .section-self_service .self_service-text ul {
    padding: 0 16px;
  }
  .section-self_service .self_service-text ul li br {
    display: none;
  }
  .section-self_service .self_service-title {
    margin-top: 69px;
    margin-left: 16px;
    width: 100%;
  }
  .section-self_service .self_service-title h2 {
    font-size: 20px;
  }
  .section-self_service .self_service-title p {
    width: 260px;
    font-size: 16px;
  }
  .section-self_service .self_service-text .self_service-btn {
    flex-direction: column;
    margin-left: 0;
  }
  .section-self_service .self_service-text .self_service-btn {
     width: 100%; 
}
  .section-self_service .self_service-text .self_service-btn .btn-secondary {
    width: 100%;
    font-size: 15px;
    margin-bottom: 32px;
  }
  .section-self_service .self_service-text .self_service-btn .hov {
    margin-top: 30px;
    font-size: 14px;
  }
  .section-we-sell .we-sell__title .Rectangle {
    left: -106px;
    width: 158px;
    top: 72px;
  }
  .section-we-sell .we-sell__title {
    margin-left: 14px;
  }
  .section-we-sell .we-sell__title h2 br {
    display: none;
  }
  .section-we-sell .we-sell__title h2 {
    font-size: 20px;
  }
  .section-we-sell .we-sell__title p {
    font-size: 16px;
  }
  .section-we-sell .we-sell__title span {
    font-size: 14px;
  }
  .section-we-sell .slider {
    display: none;
  }
  .section-we-sell .slider-mobile {
    display: flex;
  }
  .section-we-sell .slider-mobile .slide .carousel-indicators button {
    margin: 0 10px;
  }
  .section-we-sell .slider-mobile .slide .carousel-control-next,
  .section-we-sell .slider-mobile .slide .carousel-control-prev {
    top: 568px;
  }
  .section-we-sell .slider-mobile .slide .carousel-control-prev {
    right: 0;
    left: -5px;
  }
  .section-we-sell .slider-mobile .slide .carousel-control-next {
    right: -5px;
  }
  .section-equipment .equipment-bg {
    display: none;
  }
  .section-equipment {
    background: #e6eaf3;
  }
  .section-equipment {
    padding: 0;
  }
  .section-equipment .equipment-content {
    padding: 40px 10px;
  }
  .section-equipment .equipment-content .equipment__title span {
    left: -90px;
    top: 67px;
  }
  .section-equipment .equipment-content .equipment__title {
    margin-left: 0;
  }
  .section-equipment .equipment-content .equipment__title h2 {
    margin-left: -0;
  }
  .section-equipment .equipment-content .equipment-content-img {
    margin-top: 39px;
    display: flex;
    justify-content: center;
  }
  .section-calculator {
    padding: 50px 0 100px 0;
}
  .section-calculator .calculator__btn .calculator__btn-content {
    display: flex;
    justify-content: center;
  }
  .section-calculator
    .calculator__btn
    .calculator__btn-content
    .form_radio_btn
    label {
    font-size: 12px;
    min-width: 130px;
    height: 54px;
  }
  .section-calculator .calculator__title h2 {
    font-size: 28px;
    text-align: center;
  }
  .section-calculator .calculator__title {
    margin-bottom: 40px;
  }
  .section-calculator .calculator__soum .calculator__soum-title p {
    font-size: 32px;
  }
  .section-calculator .calculator__soum-content .soum-content-box span {
    font-size: 12px;
  }
  .section-calculator .calculator__soum-content .soum-content-box p {
    font-size: 18px;
  }
  .section-calculator .calculator__soum-btn .btn-secondary {
    width: 100%;
  }
  .section-order .order__img {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
  .section-order {
    padding: 50px 0 30px 0;
    background: #e6eaf3;
}
.section-order .order__content ul {
  margin-bottom: 0;
}
  .section-order .order__title {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .section-order .order__title h2 {
    font-size: 28px;
  }
  .section-order .order__content {
    margin-top: -20px;
    max-height: 600px;
    margin: 0 0 0 100px;
}
  
  .section-car {
    padding: 0;
  }
  .section-car .car__title span {
    width: 60px;
    left: -46px;
    top: 30px;
  }
  .section-car .car__title {
    margin: 80px 0;
    margin-left: 30px;
    position: relative;
  }
  .section-car .car__title h2 {
    font-size: 28px;
  }
  .section-car .car__title p {
    font-size: 20px;
  }
  .section-order .order__content ul li a {
    font-size: 14px;
}
  .section-car .car__box {
    margin: 15px auto;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .section-car .car__box img {
    margin-right: 25px;
    margin-top: -19px;
}
  .section-car .car__box p {
    font-size: 20px;
  }
  .section-car .car__slider {
    display: none;
  }
  .section-car .car__slider-mobile {
    display: block;
  }
  .section-car .car__slider-mobile .carousel-control-next,
  .section-car .car__slider-mobile .carousel-control-prev {
    display: none;
  }
  /* .section-car .car__slider-mobile .carousel-control-prev {
    left: 190px;
  }
  .section-car .car__slider-mobile .carousel-control-next {
    right: 190px;
  } */
  .section-specialist {
    padding: 0;
    background: rgb(230, 234, 243);
  }
  .section-specialist .specialist-box .specialist__form {
    max-width: 100%;
}
  .section-specialist .specialist-box {
    height: 1000px;
    padding: 80px 20px;
    margin-bottom: 0;
  }
  .section-specialist
    .specialist-box
    .specialist__form
    .specialist__form-input-box {
    flex-direction: column;
  }
  .section-specialist .specialist-box .specialist__form .specialist__form-btn {
    flex-direction: column;
  }
  .section-specialist .specialist-box .specialist__title {
    margin-bottom: 24px;
  }
  .section-specialist
    .specialist-box
    .specialist__form
    .specialist__form-input-box
    input {
    margin: 0 0 19px 0;
    width: 100%;
    height: 50px;
    border: none;
    padding: 14px 24px;
  }
  .specialist__form-textarea {
    display: flex;
    justify-content: center;
  }
  .section-specialist
    .specialist-box
    .specialist__form
    .specialist__form-textarea
    .form-control {
    border: none;
    width: 100%;
    height: 100px;
    padding: 14px 24px;
    resize: none;
  }
  .section-specialist
    .specialist-box
    .specialist__form
    .specialist__form-btn
    .btn-primary {
    width: 100%;
    margin-bottom: 10px;
  }
  .section-specialist
    .specialist-box
    .specialist__form
    .specialist__form-btn
    span {
    font-size: 12px;
    max-width: 100%;
  }
  .section-specialist .specialist-box .specialist__img img {
    right: 20%;
  }
  .section-specialist .specialist-box .specialist__img .specialist__img-text {
    right: 25%;
  }
  .section-footer .footer-box .footer-btn {
    display: none;
  }
  .section-footer .footer-box .footer-logo .footer-logo-sub {
    flex-direction: column;
  }
  .section-footer .footer-sub .footer-sub-box {
    flex-direction: column;
  }
  .section-footer .footer-sub .footer-sub-box p {
    margin-top: 26px;
  }
  .section-footer {
    padding: 43px 0 35px 0;
  }
}
@media (max-width: 600px){
  .modal-dialog {
    width: 100%;
}
}
@media (max-width: 480px) {
  
  .section-self_service .self_service-text .self_service-btn {
   width: 100%; 
}
  .section-info .sub__info .sub__info-text .mt {
    margin-top: 0;
}
  .section-foundation .foundation__img .svgschema {
    margin-right: 0;
    margin-left: 0;
}
.section-foundation .foundation__img .svgschema-tooltips {
  margin-right: 0;
  margin-left: 0;
}
  .header {
    padding: 15px 0 00;
    background-image: url(../img/bg-hed-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
  }
  .modal-content {
    padding: 20px;
    width: auto;
    margin: 0 20px;
  }
  .modal .modal-dialog {
    padding: 0;
  }
  .modal .modal-dialog .modal-content .modal-header .modal-title br {
    display: none;
  }
  .modal .modal-dialog .modal-content .modal-header .modal-title {
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    text-align: left;
  }
  .header .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    color: black;
    margin: 16px 0;
  }
  .header form {
      margin-top: 150px;
    flex-direction: column;
    align-items: baseline;
   
  }
  .header form a {
      font-weight: normal;
      font-size: 18px;
      color: #000;
      margin-bottom: 24px;
  }
  .header .navbar-light .navbar-toggler {
    border: none;
    position: absolute;
    right: 15px;
    top: 18.22px;
  }
  .header form button {
    width: 100%;
    font-size: 14px;
}
  .navbar-collapse {
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    color: #000;
    left: 0;
    z-index: 10;
    height: 100vh;
    padding: 40px;
  }
  .section-we-sell .slider-mobile .slide .carousel-item .card {
    min-width: 0;
    border: none;
  }
  .section-foundation .foundation__btn a::after {
    margin: 1px 0 0 19px;
  }
  .navbar-light .navbar-brand {
    width: 200px;
  }
  .header__content .heaedr__title {
    width: 100%;
    margin-top: 25px;
  }
  .header__content .heaedr__title h1 {
    font-size: 20px;
  }
  .header__content .heaedr__title h1 br {
    display: none;
  }
  .header__content .heaedr__title p {
    font-size: 14px;
  }
  .header__content .heaedr__title .header__btn {
    flex-direction: column;
  }
  .header__content .heaedr__title .header__btn button {
    margin-right: 0;
    width: 100%;
    margin-bottom: 32px;
  }
  .header__content .header__content-img {
    display: none;
  }
  .header__sub {
    color: black;
    background: #fff;
    margin-top: 65px;
  }
  .header__sub .header__sub-box {
    margin-top: 14px;
    margin-bottom: 0;
    margin-left: 20px;
  }
  .section-info .sub__info {
    margin-top: 90px;
}
  .section-info .info__text {
    margin: 30px auto;
    width: 280px;
  }
  .section-info .info__text p {
    font-size: 16px;
    color: #000000;
    line-height: 28px;
  }
  .section-info .info__text p br {
    display: none;
  }
  .section-info .sub__info .sub__info-title {
    padding: 0 22px;
    justify-content: center;
  }
  .section-info .sub__info .sub__info-text {
    padding: 0 22px;
  }
  .section-info .sub__info .sub__info-text .list-info {
    min-height: 0;
    margin-bottom: 45px;
  }
  .section-info .sub__info .sub__info-text .sub__info-btn {
    min-height: 0;
    margin-left: 60px;
  }
  .vertical-line:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #d8d8d8;
    margin: 50px auto;
    opacity: 0.5;
  }
  .section-info .info__bg {
    display: none;
  }
  .section-info .sub__info .sub__info-text .sub__info-btn:nth-child(3) {
    margin-top: -50px;
  }
  .section-info .sub__info .sub__info-text ol li {
    margin: 22px 50px;
}
.section-info .sub__info .sub__info-text ul li {
  margin: 16px 50px;
}
.section-info .sub__info .sub__info-title h2 {
  width: 215px;
}
  .section-foundation .foundation__title {
    margin-top: 0;
    width: 100%;
    margin-left: 0;
  }
  .section-foundation .foundation__title h2 {
    font-size: 23px;
    margin-left: 17px;
  }
  .section-foundation .foundation__title h2 br {
    display: none;
  }
  .section-foundation .foundation__title p {
    margin-top: 22px;
    margin-left: 17px;
  }
  .section-foundation .foundation__title span {
    left: -46px;
    top: 34px;
    width: 78px;
  }
  .section-foundation .foundation__title .foundation__content {
    margin-top: 40px;
  }
  .section-foundation
    .foundation__title
    .foundation__content
    .foundation__content-list {
    margin-top: 48px;
    min-width: 100%;
  }
  
  .section-foundation .foundation__img .svgschema-tooltip-mob-box {
    display: flex;
    justify-content: center;
  }
  .section-foundation .foundation__img .foundation__img-txt {
    margin-top: 56px;
    margin: 56px auto 0 40px;
    width: 245px;
  }
  .section-foundation .foundation__img .svgschema-tooltip {
    max-width: 100%;
    max-height: 91px;
    
}
.section-self_service .self_service-img {
  margin-top: 60px;
  margin: 60px 0 0 0;
}
  .section-foundation .foundation__img .foundation__img-txt p br {
    display: none;
  }
  .section-foundation .foundation__img .foundation__img-txt p {
    font-size: 16px;
  }
  .section-foundation .foundation__btn {
    flex-direction: column;
  }
  .section-foundation .foundation__btn .btn-secondary {
    font-size: 15px;
    width: 100%;
    margin-bottom: 32px;
  }
  .section-foundation .foundation__btn a br {
    display: none;
  }
  .section-foundation .foundation__btn a {
    font-size: 14px;
    margin: 0;
  }
  .section-self_service .self_service-text {
    margin-top: 0;
  }
  .section-self_service .self_service-text ul {
    padding: 0 16px;
  }
  .section-self_service .self_service-text ul li br {
    display: none;
  }
  .section-self_service .self_service-title {
    margin-top: 69px;
    margin-left: 16px;
    width: 100%;
  }
  .section-self_service .self_service-title h2 {
    font-size: 20px;
  }
  .section-self_service{
    padding: 50px 0 0 0 ;
  }
  .section-equipment .equipment-content .equipment-btn .btn-secondary {
    padding: 16px 20px;
    width: 100%;
}
  .section-self_service .self_service-title p {
    width: 260px;
    font-size: 16px;
  }
  .section-we-sell{
    padding: 0;
  }
  .section-self_service .self_service-text .self_service-btn {
    flex-direction: column;
    margin-top: 50px;
    margin-left: 0;
  }
  .section-self_service .self_service-text .self_service-btn .btn-secondary {
    width: 100%;
    font-size: 15px;
    margin-bottom: 32px;
  }
  .section-self_service .self_service-text .self_service-btn .hov {
    font-size: 14px;
    margin-top: 20px;
  }
  .section-we-sell .we-sell__title .Rectangle {
    left: -142px;
    width: 243px;
    top: 110px;
  }
  .section-we-sell .we-sell__title {
    margin-left: 14px;
  }
  .section-we-sell .we-sell__title h2 br {
    display: none;
  }
  .section-we-sell .we-sell__title h2 {
    font-size: 20px;
  }
  .section-we-sell .we-sell__title p {
    font-size: 16px;
  }
  .section-we-sell .we-sell__title span {
    font-size: 14px;
  }
  .section-we-sell .slider {
    display: none;
  }
  .section-we-sell .slider-mobile {
    display: flex;
  }
  .section-we-sell .slider-mobile .carousel {
    width: 100%;
  }
  .section-we-sell .slider-mobile .slide .carousel-indicators button {
    margin: 0 10px;
  }
  .section-we-sell .slider-mobile .slide .carousel-control-next,
  .section-we-sell .slider-mobile .slide .carousel-control-prev {
    top: 583px;
  }
  .section-we-sell .slider-mobile .slide .carousel-control-prev {
    right: 0;
    left: -5px;
  }
  .section-we-sell .slider-mobile .slide .carousel-control-next {
    right: -5px;
  }
  .section-equipment .equipment-bg {
    display: none;
  }
  .section-equipment {
    background: #e6eaf3;
  }
  .section-equipment {
    padding: 0;
  }
  .section-equipment .equipment-content {
    padding: 40px 10px;
  }
  .section-equipment .equipment-content .equipment__title span {
    left: -100px;
    width: 169px;
    top: 84px;
  }
  .section-equipment .equipment-content .equipment-content-img img {
     margin-right: 0; 
}
  .section-equipment .equipment-content .equipment__title {
    margin-left: 0;
  }
  .section-equipment .equipment-content .equipment__title h2 {
    margin-left: -0;
  }
  .section-equipment .equipment-content .equipment-content-img {
    margin-top: 39px;
    display: flex;
    justify-content: center;
  }
  .section-calculator {
    padding: 50px 0 100px 0;
}
  .section-calculator .calculator__btn .calculator__btn-content {
    display: flex;
    justify-content: space-around;
  }
  .section-calculator
    .calculator__btn
    .calculator__btn-content
    .form_radio_btn
    label {
    font-size: 12px;
    min-width: 130px;
    height: 40px;
  }
  .section-calculator .calculator__title h2 {
    font-size: 20px;
    text-align: center;
  }
  .section-calculator .calculator__title {
    margin-bottom: 40px;
  }
  .section-calculator .calculator__soum .calculator__soum-title p {
    font-size: 32px;
  }
  .section-calculator .calculator__soum-content .soum-content-box span {
    font-size: 12px;
  }
  .section-calculator .calculator__soum-content .soum-content-box p {
    font-size: 18px;
  }
  .section-calculator .calculator__soum-btn .btn-secondary {
    width: 100%;
  }
  .section-calculator .calculator__range-content .calculator__range .activeCalc {
   
    font-size: 25px;
    
}
.section-calculator .calculator__range-content .calculator__range {
  padding: 0 15px;
}
.section-order .order__img {
  margin: 0;
}
.section-order .order__content {
  margin-top: -20px;
  max-height: 600px;
  margin: 0;
}
.section-order {
  padding: 50px 0 60px 0;
  
}
  .section-order .order__title {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .section-order .order__title h2 {
    font-size: 25px;
  }
  .section-order .order__content {
    margin-top: -20px;
    max-height: 600px;
  }
  .section-order .order__content ul {
    padding-left: 5px;
}
  .section-car {
    padding: 0;
  }
  .section-car .car__title span {
    width: 60px;
    left: -46px;
    top: 22px;
  }
  .section-car .car__title {
    margin: 50px 0;
    margin-left: 10px;
    position: relative;
  }
  .section-car .car__slider-mobile {
    margin-top: 65px;
}
  .section-car .car__title h2 {
    font-size: 20px;
  }
  .section-car .car__title p {
    font-size: 16px;
  }
  .section-car .car__box {
    margin: 15px auto;
  }
  .section-car .car__box p {
    font-size: 14px;
  }
  .section-car .car__slider {
    display: none;
  }
  .section-car .car__slider-mobile .car__slider-title h2 { 
    font-size: 23px;
}
.section-questions .questions__title h2 {
  font-size: 26px;
  
}
  .section-car .car__slider-mobile {
    display: block;
  }
  .section-car .car__slider-mobile .carousel-control-next,
  .section-car .car__slider-mobile .carousel-control-prev {
    top: 390px;
  }
  .section-car .car__slider-mobile .carousel-control-prev {
    left: 0;
  }
  .section-specialist {
    padding: 0;
    background: rgb(230, 234, 243);
  }
  .section-specialist .specialist-box {
    height: 1000px;
    padding: 30px 20px;
    margin-bottom: 0;
  }
  .section-specialist .specialist-box .specialist__title h2 {
    font-size: 23px;
}
  .section-specialist
    .specialist-box
    .specialist__form
    .specialist__form-input-box {
    flex-direction: column;
  }
  .section-specialist .specialist-box .specialist__form .specialist__form-btn {
    flex-direction: column;
  }
  .section-specialist .specialist-box .specialist__title {
    margin-bottom: 24px;
  }
  .section-specialist
    .specialist-box
    .specialist__form
    .specialist__form-input-box
    input {
    margin: 0 0 19px 0;
    width: 100%;
    height: 50px;
    border: none;
    padding: 14px 24px;
  }
  .specialist__form-textarea {
    display: flex;
    justify-content: center;
  }
  .section-specialist
    .specialist-box
    .specialist__form
    .specialist__form-textarea
    .form-control {
    border: none;
    width: 100%;
    height: 100px;
    padding: 14px 24px;
    resize: none;
  }
  .section-specialist
    .specialist-box
    .specialist__form
    .specialist__form-btn
    .btn-primary {
    width: 100%;
    margin-bottom: 10px;
  }
  .section-specialist
    .specialist-box
    .specialist__form
    .specialist__form-btn
    span {
    font-size: 12px;
    max-width: 100%;
  }
  .section-specialist .specialist-box .specialist__img img {
    right: 5%;
  }
  .section-specialist .specialist-box .specialist__img .specialist__img-text {
    right: 25%;
  }
  .section-footer .footer-box .footer-btn {
    display: none;
  }
  .section-footer .footer-box .footer-logo .footer-logo-sub {
    flex-direction: column;
  }
  .section-footer .footer-sub .footer-sub-box {
    flex-direction: column;
  }
  .section-footer .footer-sub .footer-sub-box p {
    margin-top: 26px;
  }
  .section-footer {
    padding: 43px 0 0 0;
  }
}
@media (max-width: 375px){
.section-equipment .equipment-content .equipment-content-img img {
    margin-left: 30px;
    
}
.section-specialist .specialist-box {
  height: 860px;
  padding: 30px 20px;
  margin-bottom: 0;
}
}
@media (max-width: 360px){
  .section-self_service .self_service-text .self_service-btn {
    width: 100%;
}
.section-self_service .self_service-text .self_service-btn .btn {
  font-size: 15px;
}
.section-self_service .self_service-text .self_service-btn .hov {
  margin-top: 30px;
  font-size: 14px;
}
  /* .modal-characteristics .modal-dialog .modal-body form {
    max-width: 260px;
    margin-top: 400px;
}
  .modal-characteristics {
    overflow-y: auto !important;
}
 
  .modal-characteristics .modal-dialog .modal-body {
    flex-direction: column !important;
    align-items: center;
    padding: 1rem 1rem !important;
}
.modal-characteristics .modal-dialog .modal-body .characteristics-content .characteristics-content-title {
  flex-direction: column;
  align-items: center;
}
.modal-characteristics .modal-dialog .modal-body .characteristics-content {
  margin-top: 10px;
  width: 100%;
  margin-left: 0;
}
.modal .modal-dialog .modal-content {
  position: relative;
  padding: 10px 0;
}
.modal-characteristics .modal-dialog .modal-body .characteristics-content .characteristics-content-txt ul li::before {
  
  left: -32px;
  
} */
  .section-equipment .equipment-content .equipment__title span {
    left: -133px;
    width: 234px;
    top: 116px;
}
  
  .section-car .car__title span {
    width: 78px;
    left: -56px;
    top: 35px;
}
  .section-info .sub__info .sub__info-text .mt {
    margin-top: 0;
}
  .section-foundation .foundation__img .svgschema {
    margin-right: 0;
    margin-left: 0;
}
.section-foundation .foundation__img .svgschema-tooltips {
  margin-right: 0;
  margin-left: 0;
}
  .section-car .car__box p {
    font-size: 14px;
    max-width: 225px;
}
  .section-car .car__box {
     justify-content: flex-end;
     width: auto;
}
  .section-info .sub__info .sub__info-text ol li {
    margin: 22px 0;
}
.section-info .sub__info .sub__info-text ul li {
  margin: 16px 0;
}
  .section-info .sub__info .sub__info-text ol li {
    margin: 22px 0;
}
.section-info .sub__info .sub__info-text ul li {
  margin: 16px 0;
}
.section-info .sub__info .sub__info-text .sub__info-btn {
  min-height: 0;
  margin-left: 0;
}
.section-foundation .foundation__title span {
  left: -70px;
  top: 60px;
  width: 127px;
}
.section-we-sell .we-sell__title .Rectangle {
  left: -195px;
    width: 350px;
    top: 158px;
}
.section-foundation .foundation__title .foundation__content h3 {
  margin-left: 17px;
}
.section-foundation .foundation__title .foundation__content .foundation__content-list ul li {
  max-width: 220px;
}
.section-foundation .foundation__title .foundation__content .foundation__content-list {
  margin-left: 17px;
}
.section-foundation .foundation__img {
   margin-top: 10px; 
}
.section-foundation {
  padding: 50px 0 40px 0;
  background: #e6eaf3;
}
.section-self_service {
  padding: 50px 0 0 0;
}
.section-self_service .self_service-img {
  margin: 20px 0 0 0;
}
.section-equipment .equipment-content .equipment-btn .btn-secondary {
  margin: 10px auto;
  
}
.section-foundation .foundation__img .foundation__img-txt {
  width: 245px;
}
.section-we-sell .slider-mobile .slide .carousel-item .card .card-body .card-text {
  width: 190px;
}
.section-we-sell .slider-mobile .slide .carousel-item .card {
  min-height: 550px;
}
.section-we-sell .slider-mobile .slide .carousel-item .card .card-body .card-text-sub .card-text-right p {
  font-weight: bold;
  font-size: 19px;
  color: rgb(0, 0, 0);
}
.section-we-sell .slider-mobile .slide .carousel-control-next, .section-we-sell .slider-mobile .slide .carousel-control-prev {
  display: none;
}
.section-calculator .calculator__btn .calculator__btn-content .form_radio_btn label {
  height: 54px;
}
.section-specialist .specialist-box {
  height: 796px;
}
.section-specialist .specialist-box .specialist__img .specialist__img-text {
  right: 5%;
  bottom: 5px;
}
.section-car .car__box img {
  margin-top: -22px;
}
.section-car .car__slider-mobile .carousel .carousel-inner .carousel-item .item-text {
  padding: 10px;
}
.section-questions .accordion .accordion-button {
  text-align: left;
}
.section-calculator .calculator__btn .calculator__btn-content .form_radio_btn label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-calculator .calculator__btn .calculator__btn-content .form_radio_btn {
  margin-right: 0;
  width: 140px;
}
.section-calculator .calculator__btn .calculator__btn-content {
  justify-content: space-between;
}
.section-car .car__slider-mobile .carousel .carousel-inner .carousel-item .item-text p {
  margin-bottom: 4px;
}
.section-questions .questions__title {
  margin: 80px 0 40px 0;
}
.section-questions .accordion .accordion-body p b {
  display: block;
}
.header .navbar-light .navbar-nav .nav-link {
  margin: 8px 0;
}


}

